body, html, p, h1, h2, h3, h4, h5, p, span, ul, li, a, img, section, main, div, header, button, form, input {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.header {
  background-color: #000000;
}

.headerTop {
  display: flex;
}

.navigation {
  width: 50%;
}

.navigationList {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 3rem;
  justify-content: end;
}

.navItem {
  color: #fff;
  cursor: pointer;
  border: 1px solid;
  padding: 5px;

  --c: #0700fd;

  background:
          linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
          linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
  -webkit-background-clip: text,padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.navItem:hover {
  --_p: 100%
}

.headerImage {
  height: 475px;
}

.headerImage > img {
  width: 100%;
}

.layout {
  position: relative;
  height: 100%;
  display: block;
  max-width: 1650px;
}

.main {
  padding: 20px 40px;
}

.itemsList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.shopItem {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 370px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.imageBackground {
  background-color: white;
  width: calc(300px - 20px);
  height: 280px;
}

.cardImage {
  max-width: 280px;
  max-height: 280px;
}

.cardTitle {
  padding-top: 10px;
}

.cardAbout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}

.aboutButton {
  border-radius: 2px;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

.aboutButton:hover {
  background-color: rgba(169, 169, 169, 0.42);
}

.cardPrice {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}

.footer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  background-color: #f5f5f5;
}

.footerIcons {
  width: 50px;
  height: 45px;
}

.itemContainer {
  max-width: 600px;
  display: flex;
  flex-direction: row;
}

.imagesBlock {

}

.mainItemPhoto {
  width: 540px;
  height: 460px;
  background: #E6F0FB;
  border-radius: 24px;
}

.aboutBlock {

}

@media (max-width: 500px) {
  .itemsList {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
